<% if current_user && recipe.favorite?(current_user) %>
  <span class="favorited">
    <%= link_to "FAVORITED", recipe_unfavorite_recipe_path(recipe)%>
  </span>
<% else %>
  <span class="favorite">
    <%= link_to "favorite", recipe_favorite_recipe_path(recipe)%>
  </span>
<% end %>
