<h1>Top Trending Recipes:</h1>

<% if @recipes %>
  <%= render 'recipes/favorites_listed', favorites: @favorites %>

All Recipes From New To Old || All Recipes Quickest Cook Until Longest || All Recipes From Most Popular Down

  <h1>Our 5 latest Recipes</h1>
  <%= render 'recipes/recipe_listed', recipes: @recipes %>
<% else %>
  Sign Up and help us add some recipes to our database!
<% end %>