// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorited a {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.favorite a {
  font-weight: bold;
  color: green;
  text-decoration: none;
}