<% if form.errors.any? %>
  <div id="notice_wrapper" class="alert">
    <h3>There were some errors:</h3>
    <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>